<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
      <servlet-name>send</servlet-name>
      <servlet-class>com.pyco.appkaizen.SendServlet</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>presence</servlet-name>
      <servlet-class>com.pyco.appkaizen.PresenceServlet</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>disconnect</servlet-name>
      <servlet-class>com.pyco.appkaizen.DisconnectServlet</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>receive</servlet-name>
      <servlet-class>com.pyco.appkaizen.ReceiveServlet</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>unsubscribe</servlet-name>
      <servlet-class>com.pyco.appkaizen.UnsubscribeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>presence</servlet-name>
      <url-pattern>/_ah/xmpp/presence/available/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>presence</servlet-name>
      <url-pattern>/_ah/xmpp/presence/unavailable/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>unsubscribe</servlet-name>
      <url-pattern>/_ah/xmpp/subscription/unsubscribe/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>receive</servlet-name>
      <url-pattern>/_ah/xmpp/message/chat/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>disconnect</servlet-name>
      <url-pattern>/disconnect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>send</servlet-name>
      <url-pattern>/send</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
      <welcome-file>server.jsp</welcome-file>
    </welcome-file-list>
</web-app>
